<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famous Dogs</title>
</head>
<body>
     <nav>
        <a href="/fidofame/new">Add a New Dog</a>
        <a href="/fidofame/film">Film</a>
        <a href="/fidofame/tv">TV</a>
        <a href="/fidofame/cartoon">Cartoon</a>
        <a href="/fidofame/social">Social Media</a>

    </nav>
    <h1>Famous Dogs</h1>
        <% fidos.forEach(fido => { %>
            <div class="Dog">
                <!-- <%=fido.name %> -->
                <a href="/fidofame/<%=fido._id; %>">
                    <img class="image" src=<%=fido.image %> alt=<%=fido.name %>>
                </a>
            </div>
            <% }) %>
</body>
</html>