<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famous Dogs</title>
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/materialize.css">

</head>
<div class="container">
<body>
    <header>
        <h1>Fido Fame</h1>
        <nav>
            <a class="navWords" href="/fidofame/film">Film</a>
            <a class="navWords" href="/fidofame/tv">TV</a>
            <a class="navWords" href="/fidofame/cartoon">Cartoon</a>
            <a class="navWords" href="/fidofame/social">Social Media</a>
            <a class="navWords" href="/fidofame/new">Add a New Dog</a>
        </nav>
    </header>
    <div class="images">
        <% fidos.forEach(fido => { %>
            <div class="dog">
                <a  href="/fidofame/<%=fido._id; %>">
                    <img class="image" src=<%=fido.image %> alt=<%=fido.name %>>
                </a>
            </div>
            <% }) %>
    </div>
</div>
</body>
</html>