@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

a {
    color: #273E47;
}

body {
    font-family: 'Luckiest Guy', cursive;
    background-color: #9F7E69;
    color: #7D1538;
    text-align: center;
}

/* form {
    box-sizing: border-box;
    display: inline-block;

} */

/* select {
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  } */

  /* input[type=text] {
    background-color: #f1f1f1;
    color: #273E47;
    border: 2px solid #ccc;
  } */

  /* textarea {
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    resize: none;
    color: #273E47;
  } */

input[type="checkbox"] {
  background: #7D1538;
  }

input[type=submit] {
    background-color: #273E47;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  /* label color */
  .input-field label {
    color: #273E47;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #273E47 !important;
   }

/* label underline focus color */
   .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #273E47 !important;
    box-shadow: 0 1px 0 0 #273E47 !important;
   }

   .checkbox-blue-grey[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #273E47;
    background-color: #273E47;
  }