@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.nav {
    color: #273E47;
}

body {
    font-family: 'Luckiest Guy', cursive;
    background-color: #9F7E69;
    color: #7D1538;
    text-align: center;
}

images {
    display: inline-block;
}
