@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

a {
    color: #273E47;
}

body {
    font-family: 'Luckiest Guy', cursive;
    background-color: #9F7E69;
    color: #7D1538;
    position: relative;
}

input[type=submit] {
    background-color: #273E47;
    border: none;
    color: #e1e4e6;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  button {
    background-color: #273E47;
    border: none;
    color: #e1e4e6;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

h1, nav {
  font-size: 25pt;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: transparent;
}

.pic {
  /* height: 200px; */
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: transparent;
  /* padding: 25pt; */
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.pic img {
  flex-shrink: 0;
  min-width: 50%;
  min-height: 50%
}

p, .info {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: transparent;
  margin: 20px
}

@media (max-width: 500px){
  h1{
  font-size: 30pt;
  }
  h2{
    font-size: 15pt
  }
}