@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    font-family: 'Luckiest Guy', cursive;
    background-color: #9F7E69;
}

h1 {
    background-color: #D2BBA0;
    text-align: center;
    font-size:8vw;
    top: auto;
    padding: 100px;
    margin-top: 0%;
    margin-bottom: 0px;
    width: 100%;
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;    
}

.container {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1/2;
    grid-row: 1/2;
}

.images {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin-top: 10%;
    /* display: grid; */
    /* grid-template-columns: auto auto auto; */
    /* gap: 10%; */
    /* align-items: center; */
}

.dog {
    /* border: 3px solid hotpink; */
    aspect-ratio: 1 / 1.5;
}

.image {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
}