@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    font-family: 'Luckiest Guy', cursive;
    background-color: tan;
    color: PURPLE;
}

h1 {
    background-color: white;
    text-align: center;
    font-size: 100px;
    top: auto;
    /* border: 10px solid transparent; */
    padding: 100px;
    margin-top: 0%;
    margin-bottom: 0px;
    /* display: grid; */
}

nav {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: Purple;
    height: 20px;
    /* padding: auto; */
    /* margin-top: 0%; */
    padding: 30px;
    /* margin-top: 0%; */
}

.navWords {
    color: #f8f8ff;
    margin: 70px;
    /* border: 10px solid black; */
    /* content: 500px; */
    /* padding: 100px; */
    /* padding: 10px; */
}

.images {
    /* align-content: center; */
    margin: 10%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10%;
}

/* image {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
} */