@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    font-family: 'Luckiest Guy', cursive;
    background-color: tan;
    color: PURPLE;
}

h1 {
    background-color: white;
    text-align: center;
    font-size: 100px;
    top: auto;
    padding: 100px;
    margin-top: 0%;
    margin-bottom: 0px;
    width: 100%;
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;    
    min-width: 1000px;
}

nav {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: Purple;
    height: 20px;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    min-width: 1000px;
}

.navWords {
    color: #f8f8ff;
    margin: 70px;
}

.images {
    margin: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10%;
    align-items: center;
}

.dog:hover {
    transform: scale(1.5);
  }

  @media (max-width: 500px){
    .container {
        text-align: center;
      }
   nav a {
    flex-direction: column;
   }
}